{% load blog_tags %}
{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<h1><a href='{% url "blog:post_list" %}'>Trzykody</a></h1>
<div><p>Dostępne tagi: {% get_all_tags %}</p></div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h1>Szukaj postów</h1>

        <form method="get" action='{% url "blog:post_search" %}'>
            <p>Szukaj: </p>
            <input type="text" name="{{ form.query.name }}" id="{{ form.query.id_for_label }}" value="{{ form.query.value }}" required>
            <input type="submit" value="Szukaj">
        </form>

    <div style="clear:both;"></div>

    <p>To jest mój pierwszy blog. Ilość wszystkich postów: {% total_posts %}</p>
    <p><a href='{% url "blog:post_feed" %}'> Subskrybuj mój kaał RSS</a></p>

    <h3>Najnowsze posty:</h3>
        {% show_latest_posts 5 %}
    <h3>Najczęściej komentowane posty</h3>
        {% show_comments_posts %}

</div>
</body>
</html>
