{% load blog_tags %}
{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>Mój pierwszy blog</h2>
    <p>To jest mój pierwszy blog.
    Ilość wszystkich postów: {% total_posts %}
    </p>
    <h3>Najnowsze posty:</h3>
    {% show_latest_posts 5 %}
</div>
</body>
</html>
